*.class
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/bin/
/doc/
test-dashboard-client/test-dashboard-client.iml
.idea/*
test-dashboard-client/.idea/*
test-dashboard-client/.idea/libraries/docs.xml
test-dashboard-client/.idea/libraries/lib.xml
test-dashboard-client/.idea/libraries/lib1.xml
test-dashboard-client/.idea/vcs.xml
